*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 150px;
  --mark-size: calc(var(--cell-size) * .9)
}

body {
  margin: 0;
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto)
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  width: 150px;
  height: 150px;
  border: 4px solid black;
  justify-content: center;
  align-items: center;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.cell:hover {
  background-color: rgb(131, 167, 233);
}

.cell:first-child:hover {
  border-top-left-radius: 25px;
  background-color: rgb(131, 167, 233);
}

.cell:nth-child(3):hover {
  border-top-right-radius: 25px;
}

.cell:nth-child(7):hover {
  border-bottom-left-radius: 25px;
}

.cell:last-child:hover {
  border-bottom-right-radius: 25px;
}

/* .cell.x::before, */
.cell.x::before {
  content: 'X';
  font-size: 90px;
}

.cell.o::before {
  content: 'O';
  font-size: 100px;
}
